.carousel-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  overflow: hidden;
  width: 25%;
}

.inner { 
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #fff;
}

.indicators {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.indicator-button {
  width: 2rem;
  cursor: pointer;
  transition: 0.3s;
}

.indicator-button:hover {
  opacity: 0.8;
}
