.resources-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  font-family: Roboto-Regular;
  background: #E0D2C7;
}

.resources-content-top {
  width: 100%;
}

.resources-content-top h2 {
  color: #9A6C57;
  font-size: 5rem;
  margin-top: 3rem;
  margin-bottom: 0;
}

.resources-content-top p {
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
  font-size: 1.4rem;
}

.resources-content-row-section {
  width: 70%;
  display: flex;
  margin: 1.5rem;
}

.resources-container-row-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Roboto-Regular;
}

.resources-container-row-content h3 {
  font-size: 1.5rem;
}

.resources-container-row-content a, .resources-container-row-content p{
  font-size: 1.2rem;
  color: black;
  margin: 0.5rem;
  width: fit-content;
}