.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .home-content {
    height: 20%;
  }

  .btn-toolbar {
    flex-direction: column;
    align-items: center;
    top: 50%;
  }

  .general-content {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .general-description {
    overflow: auto;
  }

  .member-page-description {
    flex-direction: column;
    align-items: center;
    width: 70%;    
    overflow: auto;
  }
  
  .member-page-text-container {
    overflow: auto;
  }

  /* .member-page-parallax-wrapper {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 50%;
    perspective: 10px;
  } */

  .member-page-img {
    width: 100%;
  }
}

@media (min-width: 600px) {
  .btn-toolbar {
    top: 55%;
  }
  
  .member-page-description {
    width: 50%;
    height: 70%;
  }
  
  .member-page-img {
    width: 30%;
    height: 30%;
  }

  .member-page-desc-text {
    padding-left: 2rem;
  }
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}

.App-link {
  color: #61dafb;
}

.home-container {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  font-size: calc(10px + 2vmin);
  /* font-family: Verdana, sans-serif; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home-content {
  display: flex;
  justify-content: center;
  width: 50%;
  /* height: 20%; */
}

.alt-home-container {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  /* font-size: calc(10px + 2vmin); */
  /* font-family: Verdana, sans-serif; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.alt-home-content {
  /* position: relative;
  bottom: 5%; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 50%;
}

.alt-home-head {
  /* font-size: calc(10px + 2vmin); */
  font-size: 3rem;
}

.alt-home-subhead {
  /* font-size: calc(10px + 2vmin); */
  font-size: 1.5rem;
}

/* .video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
  padding-bottom: 56.25%;
}

.video-foreground,
.video-background iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
} */

.btn-toolbar {
  position: absolute;
  /* top: 55%; */
  display: flex;
  justify-content: center;
  width: 50%;
}

.home-header {
  position: absolute;
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.upperbutton-content {
  display: flex;
  /* justify-content: flex-end; */
  /* align-items: center; */
}

.upperbuttonmenu-button {
  color: #f1f1f1;
  border: none;
  background: none;
  margin-right: 2rem;
}

.upperbuttonmenu-label {
  color: #f1f1f1;
  font-size: 1.2rem;  
  text-decoration: none;
  text-align: center;
  /* text-transform: lowercase; */
}

.general-btn {
  font-size: 15px;
  color: black;
  text-align: center;
  background:white;
  border: none;
  border-radius: 15px;
  width: 8rem;
  height: 2rem;
  margin: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica;
}

.general-link-btn-label {
  color: black;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
}

.btn-toolbar button:hover, .general-btn:hover {
  opacity: 0.8;
}

#videoBackground {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.home-footer {
  position: fixed;
  width: 100%;
  height: 10%;
  bottom: 0;
  left: 0;
  /* background-color: red; */
  align-items: center;
}

.socialmedia-btn-bar {
  display: flex;
  justify-content: center;
}

.media-button {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.media-button:hover {
  opacity: 0.8;
}

.icon {
  width: 1rem;
  height: 1rem;
}

.Modal {
  width: 50rem;
  height: 50rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
}

.Overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.general-container {
  position: fixed;
  background: rgba(3, 46, 6, 1);
  width: 100%;
  height: 100%;
}

.general-content {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* font-family: sans-serif; */
}

.general-title {
  color: #f1f1f1;
  font-size: calc(10px + 2vmin);
  width: 50%;
}

.general-description {
  color: #f1f1f1;
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 2rem;
}

.general-description p {
  text-align: justify;
}

.general-description button {
  margin-top: 3rem;
}

.members-container {
  position: fixed;
  background: rgba(3, 46, 6, 1);
  /* color: #f1f1f1; */
  /* font-size: calc(10px + 2vmin); */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.members-btn-toolbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  align-content: center;
  /* width: 60%; */
  top: 50%;
  padding-bottom: 2rem;
}

.members-button {
  color: white;
  font-size: 15px;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 100%;
  width: 8rem;
  height: 8rem;
  margin: 10px;
  cursor: pointer;
  transition: all 1s ease-out;
}

.members-button:before {
  content: '';
}

.members-button:hover {
  opacity: 0;
  background: none;
  border: none;
}

/* .members-button img {
  width: 100%;
  height: auto;
  display: block;
} */

.members-title {
  color: #f1f1f1;
  font-size: calc(10px + 2vmin);
}

.members-button-container {
  position: relative;
  text-align: center;
  padding: 0;
  border-radius: 50%;
  overflow: hidden;
  width: 8rem;
  height: 8rem;
  margin: 10px;
}

.members-button-label:before {
  content: '';
  display: inline-block;
  height: 50%; 
}

.members-button-label {
  transition: all 0.5s ease-out;
  border-radius: 50%; 
  vertical-align: middle;
  padding: 5%; 
  color: #FFFFFF;
  position: absolute;
  font-size: 1.125em; 
  font-weight: 700; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 90%;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}

.members-button-label-text {
  visibility: hidden;
}

.members-button-label:hover{
  background: rgba(0, 0, 0, 0.6);
}

.members-button-label:hover .members-button-label-text{
  visibility: visible;
}

/* .members-button-label img {
  width: 120%; 
  height: 100%; 
  height: auto; 
  display: block;
  position: relative;
  bottom: 60%;
  right: 5%;
  z-index: -1;
} */

.members-solar-img {
  width: 120%; 
  height: 100%; 
  height: auto; 
  display: block;
  position: relative;
  bottom: 60%;
  right: 5%;
  z-index: -1;
}

.members-moonbyul-img {
  width: 140%; 
  height: 100%; 
  height: auto; 
  display: block;
  position: relative;
  bottom: 70%;
  right: 15%;
  z-index: -1;
}

.members-wheein-img {
  width: 140%; 
  height: 100%; 
  height: auto; 
  display: block;
  position: relative;
  bottom: 70%;
  right: 15%;
  z-index: -1;
}

.members-hwasa-img {
  width: 120%; 
  height: 100%; 
  height: auto; 
  display: block;
  position: relative;
  bottom: 60%;
  right: 15%;
  z-index: -1;
}

.member-page-container {
  position: fixed;
  background: rgba(3, 46, 6, 1);
  width: 100%;
  height: 100%;
}

.member-page-content {
  /* color: #f1f1f1; */
  /* font-size: calc(10px + 2vmin); */
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.member-page-title {
  color: #f1f1f1;
  width: 50%;
}

.member-page-title h2 {
  font-size: calc(10px + 2vmin);
}

.member-page-title p {
  font-size: calc(10px + 1vmin);
}

.member-page-description {
  color: #f1f1f1;
  /* width: 50%;
  height: 70%; */
  display: flex;
  /* align-items: flex-start; */
  text-align: justify;
  padding-bottom: 2rem;
}

.member-page-text-container {
  display: flex;
  flex-direction: column;
}

/* .member-page-desc-text {
  padding-left: 2rem;
} */

.member-page-desc-text a {
  text-decoration: none;
  font-weight: bold;
  color: RGB(255, 215, 0);
}

.member-page-desc-list {
  padding-left: 5rem;
}

.member-page-img {
  /* width: 30%;
  height: 30%; */
  float: left;
  /* border-radius: 1rem; */
}

.member-parallax-bg {
  background-image: url("./assets/solar_travel.jpg");
  /* width: 100%;
  height: 100%; */
  background-size: cover;
  min-height: 500px; 
  background-attachment: fixed;
  background-position: 50% 30%;
  background-repeat: no-repeat;
  /* background: rgba(0, 0, 0, 0.9); */
}

.member-parallax-content {
  /* position: absolute;
  width: 100%;
  height: 100%;
  top: 100%; */
  background-color: red;
  height: 1000px;
}

/*.members-header {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  font-size: calc(10px + 2vmin);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}*/